@import '../../bower_components/font-awesome/css/font-awesome.css';
@import '../../bower_components/AdminLTE/bootstrap/css/bootstrap.css';
@import '../../bower_components/AdminLTE/dist/css/AdminLTE.css';
@import '../../bower_components/AdminLTE/dist/css/skins/skin-blue.css';

.wrapper {
  overflow-y: visible;
}

.content-wrapper {
  position: relative;
  transition: transform 0.4s;

  > .content-wrapper-inner > .content {
    display: none;
  }

  > #content-proxy { left: 100%; }
  > #content-quotes { left: 200%; }
  > #content-feed { left: 300%; }

  &[show=udf] {
    transform: translateX(0);

    > #content-udf > .content {
      display: block;
    }
  }

  &[show=proxy] {
    transform: translateX(-100%);

    > #content-proxy > .content {
      display: block;
    }
  }

  &[show=quotes] {
    transform: translateX(-200%);

    > #content-quotes > .content {
      display: block;
    }
  }

  &[show=feed] {
    transform: translateX(-300%);

    > #content-feed > .content {
      display: block;
    }
  }
}

.content-wrapper-inner {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: #ecf0f5;
}

table {
  font-size: small;

  td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &.word-break {
      white-space: normal;
      word-break: break-all;
    }
  }
}

.change-up {
  color: #00a65a;
}

.change-down {
  color: #dd4b39;
}

#udf-table {
  th:nth-child(n+5),
  td:nth-child(n+5) {
    text-align: right;
  }
}

#quotes-table {
  .is-null {
    font-style: italic;
    opacity: 0.7;
  }

  .col-data {
    text-align: right;
  }

  &.hide-batch {
    tr {
      background-color: transparent !important;
    }
  }
}
