.wrapper {
  overflow-y: visible;
}

.content-wrapper {
  position: relative;
  transition: transform 0.4s;
}

.content-wrapper > .content-wrapper-inner > .content {
  display: none;
}

.content-wrapper[show=udf] {
  transform: translateX(0);
}
.content-wrapper[show=udf] > #content-udf > .content {
  display: block;
}

.content-wrapper[show=proxy] {
  transform: translateX(-100%);
}
.content-wrapper > #content-proxy {
  left: 100%;
}
.content-wrapper[show=proxy] > #content-proxy > .content {
  display: block;
}

.content-wrapper[show=quotes] {
  transform: translateX(-200%);
}
.content-wrapper > #content-quotes {
  left: 200%;
}
.content-wrapper[show=quotes] > #content-quotes > .content {
  display: block;
}

.content-wrapper[show=feed] {
  transform: translateX(-300%);
}
.content-wrapper > #content-feed {
  left: 300%;
}
.content-wrapper[show=feed] > #content-feed > .content {
  display: block;
}

.content-wrapper-inner {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: #ecf0f5;
}

table {
  font-size: small;
}

table td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.change-up {
  color: #00a65a;
}

.change-down {
  color: #dd4b39;
}

#udf-table th:nth-child(n+5),
#udf-table td:nth-child(n+5) {
  text-align: right;
}
